<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragment/layout :: layout (~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="site-blocks-cover overlay inner-page-cover"  th:style=" 'background-image:url(\'data:image/png;base64, ' + ${#strings.replace(recipe.imageString, '/(\r\n|\n|\r)/gm', '')}  + '\');'" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <h1 class="text-white">Add/Modify Recipe</h1>
                <button th:if="${recipe.id != null}" id="uploadImage" class="btn btn-info">Upload Image</button>
                <input type="file" style="display: none;" id="image">
            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-md-10 mb-5">

                <h2 class="display-5 mb-3 text-black">Recipe Information</h2>

                <form  th:object="${recipe}" th:action="@{/recipe/form}" method="post">

                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <p>Please Correct Errors Below</p>
                    </div>

                    <input type="hidden" th:field="*{id}"/>
                    <div class="pannel-group">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Recipe Description:</label>
                                <input type="text"  th:class="${#fields.hasErrors('description') ? 'form-control is-invalid' : 'form-control'}"  th:field="*{description}"/>
                                <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                                    <span th:each=" error : ${#fields.errors('description')} " th:text="${error}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Categories:</label>
                            </div>
                            <div class="col-md-9">
                                <div th:each="category,iteration : ${recipe.categories}" class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" th:id="${category.description + iteration.index}" checked>
                                    <label class="form-check-label" th:for="${category.description + iteration.index}" th:text="${category.description}">1</label>
                                </div>
                                <div th:each="catEach, idx : ${recipe.categories}" >
                                    <input  type="hidden" th:field="*{categories[__${idx.index}__].id}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Prep Time:</label>
                                <input type="text" th:class="${#fields.hasErrors('prepTime') ? 'form-control is-invalid' : 'form-control'}"  th:field="*{prepTime}"/>
                                <div th:if="${#fields.hasErrors('prepTime')}" class="invalid-feedback">
                                    <span th:each=" error : ${#fields.errors('prepTime')} " th:text="${error}"></span>
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Cooktime:</label>
                                <input type="text" th:class="${#fields.hasErrors('cookTime') ? 'form-control is-invalid' : 'form-control'}" th:field="*{cookTime}"/>
                                <div th:if="${#fields.hasErrors('cookTime')}" class="invalid-feedback">
                                    <span th:each=" error : ${#fields.errors('cookTime')} " th:text="${error}"></span>
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Difficulty:</label>
                                <select class="form-control" th:field="*{difficulty}">
                                    <option value=""></option>
                                    <option value="EASY">Easy</option>
                                    <option value="MEDIUM">Medium</option>
                                    <option value="HARD">Hard</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Servings:</label>
                                <input type="text" th:class="${#fields.hasErrors('serving') ? 'form-control is-invalid' : 'form-control'}" th:field="*{serving}"/>
                                <div th:if="${#fields.hasErrors('serving')}" class="invalid-feedback">
                                    <span th:each=" error : ${#fields.errors('serving')} " th:text="${error}"></span>
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Source:</label>
                                <input type="text" class="form-control" th:field="*{source}"/>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>URL:</label>
                                <input type="text" th:class="${#fields.hasErrors('url') ? 'form-control is-invalid' : 'form-control'}" th:field="*{url}"/>
                                <div th:if="${#fields.hasErrors('url')}" class="invalid-feedback">
                                    <span th:each=" error : ${#fields.errors('url')} " th:text="${error}"></span>
                                </div>
                            </div>
                        </div>
                        <h2 class="display-5">Ingredients</h2>
                        <button  class="btn btn-success" id="addIngredient">Add Ingredients</button>
                        <div class="d-flex flex-column" id="ingredientContainer">
                            <!-- to do Add Ingredients -->
                            <input type="hidden" id="ingredientSize" th:value="${ #lists.size(recipe.ingredients) }"/>
                            <div class="row" th:each="ingredient , iter : ${recipe.ingredients}">
                                <div class="col-md-3 form-group">
                                    <label>Amount:</label>
                                    <input type="text" class="form-control" th:name="${'ingredients[' + iter.index + '].amount'}" th:value="${ingredient.amount}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>UOM:</label>
                                    <select class="form-control" th:name="${'ingredients[' + iter.index + '].unitOfMeasure.description'}" onchange="setId(this)">
                                        <option value=""></option>
                                        <option th:each="map:${uomMap}" th:text="${map.description}" th:id="${map.id}" th:value="${map.description}" th:selected="${ingredient.unitOfMeasure.description == map.description}"></option>
                                    </select>
                                    <input type="hidden" class="uomId" th:name="${'ingredients[' + iter.index + '].unitOfMeasure.id'}" th:value="${ingredient.unitOfMeasure.id}"/>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Description:</label>
                                    <input type="text" class="form-control" th:name="${'ingredients[' + iter.index + '].description'}" th:value="${ingredient.description}"/>
                                </div>
                            </div>
                        </div>
                        <h2 class="display-5">Directions</h2>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" rows="10" th:field="*{directions}"></textarea></div>
                        </div>
                        <h2 class="display-5">Notes</h2>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" rows="10" th:field="*{notes.description}"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

                <script type="template" id="ingredientTemplate">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>Amount:</label>
                            <input type="text" class="form-control" name="{{amountName}}"/>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>UOM:</label>
                            <select class="form-control" name="{{uomName}}" onchange="setId(this)">
                                <option value=""></option>
                                <option th:each="map:${uomMap}" th:text="${map.description}" th:id="${map.id}" th:value="${map.description}"></option>
                            </select>
                            <input type="hidden" class="uomId" name="{{uomId}}" value=""/>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Description:</label>
                            <input type="text" class="form-control" name="{{descriptionName}}"/>
                        </div>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>

</body>
</html>